<h1>Private! Users only...</h1>

<img src="https://i.pinimg.com/originals/ab/51/b4/ab51b48f52f991e82edbb4846794ad47.gif" alt="mushroom dancing">
<br>
<a href="/main">To the main page</a>
<br>
<a href="/">To the home page</a>